<div class="card mt-5">
  <ng2-toasty></ng2-toasty>
  <form [formGroup]="newClaimGroup" (ngSubmit)="onSubmit()">
    <div class="card-header">
      <b>User and Hospitalization Details
      </b>
    </div>


    <div class="card-body">
      <h5 class="card-title">Beneficiary Details</h5>

      <div class="form-row">
        <div class="col-3">
         {{loginUserData.name}}
        </div>
        <div class="col-3">
          {{loginUserData.email}}
        </div>
        <div class="col-3">
          {{loginUserData.contactNumber}}
        </div>
      </div>
    </div>
    <div class="card-header ">
      <b>Beneficiary Details</b>
    </div>
    <div class="card-body">
      <div>
       
        <div class="form-row">
          <div class="col-6">
            <label for="email" class="icon-danger">* </label>
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter eail">
            <div *ngIf="newClaimGroup.get('email').hasError('required') && newClaimGroup.get('email').touched"
              class="text-danger">&nbsp;Required Field</div>
          </div>
          <div class="col-6">
            <label for="mobile" class="icon-danger">* </label>
            <label for="code">Code</label>
            <input type="text" class="form-control" id="code" formControlName="code" placeholder="Enter code">
            <div *ngIf="newClaimGroup.get('code').hasError('required') && newClaimGroup.get('mobile').touched"
              class="text-danger">&nbsp;Required Field</div>
          </div>
        </div>
        
      </div>
    </div>
    
    <div class="card-header ">
      <b>Claim  Details</b>
    </div>
    <div class="card-body">
      <h5 class="card-title">All claims should be registered on the portal within 90 days from days of expense </h5>

      <div class="form-row">
        <div class="col-6">
          <label for="nature">Nature of illness/accident/disease</label>
          <input type="text" class="form-control" id="nature" formControlName="nature"> 
        </div>
        <div class="col-6">
          <label for="description">Description of illness/accident/disease</label>
          <input type="text" class="form-control" id="description" formControlName="description" placeholder="Disease description">
        </div>
      </div>
      <div class="form-row">
        <div class="col-6">
          <label for="startDate">Treatment Start Date</label>
          <input type="date" class="form-control" id="startDate" formControlName="startDate" placeholder="Example input">
        </div>
        <div class="col-6">
          <label for="endDate">Treatment End Date</label>
          <input type="date" class="form-control" id="endDate" formControlName="endDate" placeholder="Example input">
        </div>
      </div>
      <div class="form-row">
        <div class="col-6">
          <label for="clinicName">Click Name</label>
          <input type="text" class="form-control" id="clinicName" formControlName="clinicName" placeholder="Example input">
        </div>
        <div class="col-6">
          <label for="clinicPinCode">Clinic pin Code</label>
          <input type="text" class="form-control" id="clinicPinCode" formControlName="clinicPinCode" placeholder="Example input">
        </div>
      </div>
      <div class="form-row">
       
        <div class="col-6">
          <label for="regNo">Registration Number</label>
          <input type="text" class="form-control" id="regNo" formControlName="regNo" placeholder="Example input">
        </div>
        
      </div>
      <div class="form-row">
       
        <div class="col-6">
          <label for="doctorName">Name of treating Doctor</label>
          <input type="text" class="form-control" id="doctorName" formControlName="doctorName" placeholder="Example input">
        </div>
        <div class="col-6">
          <label for="claimAmount">Claimed Amount</label>
          <input type="text" class="form-control" id="claimAmount" formControlName="claimAmount" placeholder="">
        </div>
      </div>

    </div>
    <div class="card-footer">

      <button type="submit" class="btn btn-success font-weight-bold" (click)="onSubmit()">Submit&nbsp;&nbsp;<i class="fa fa-paper-plane"
          aria-hidden="true"></i></button>
    </div>
  </form>
</div>
