<div class="card mt-5" >
  <form  [formGroup]="newClaimFormGroup" (ngSubmit)="onSubmit()">
  <div class="card-header">
    <b>User and Hospitalization Details
    </b>
  </div>
    
  
  <div class="card-body">
    <h5 class="card-title">Beneficiary Details</h5>
    
      <div class="form-row">
        <div class="col-4">
Ayushi
        </div>
        <div class="col-4">
          1708060
                  </div>
      </div>
  </div>
  <div class="card-header ">
  <b>Beneficiary Details</b>
  </div>
  <div class="card-body">
    <form>
      <div class="form-row">
        <div class="col-6">
          <label for="patientName" class="icon-danger">* </label>
          <label for="patientName">Patient Name</label>
    <input type="text" class="form-control" id="patientName" placeholder="patient name" formControlName="patientName">
    <div *ngIf="newClaimFormGroup.get('patientName').hasError('required') && newClaimGroup.get('patientName').touched" class="text-danger">&nbsp;Required Field</div>
                                                                       
        </div><div class="col-6">
          <label for="relationship">Relationship with Employee</label>
    <input type="text" class="form-control" id="relationship" placeholder="Relationship with employee">
    
        </div>
      </div>
      <div class="form-row">
        <div class="col-6">
          <label for="email" class="icon-danger">* </label>
          <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Enter eail">
    <div *ngIf="newClaimFormGroup.get('email').hasError('required') && newClaimGroup.get('email').touched" class="text-danger">&nbsp;Required Field</div>
        </div><div class="col-6">
          <label for="mobile" class="icon-danger">* </label>
          <label for="mobile">Mobile number</label>
    <input type="text" class="form-control" id="mobile" placeholder="Enter mobile number">
    <div *ngIf="newClaimFormGroup.get('mobile').hasError('required') && newClaimGroup.get('mobile').touched" class="text-danger">&nbsp;Required Field</div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-6">
          <label for="patientAge">Patient Age</label>
    <input type="text" class="form-control" id="patientAge" placeholder="Enter Patient age">
        </div><div class="col-6">
          <label for="domiBalance">Domi Balance</label>
    <input type="text" class="form-control" id="domiBalance" placeholder="">
        </div>
      </div>
    </form>
  </div>
  <div class="card-header">
    <b>Bank Details</b>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Bank Name</th>
            <th scope="col">Branch Name</th>
            <th scope="col">IFSC Code</th>
            <th scope="col">Location </th>
            <th scope="col">Account Number </th>
            <th scope="col">Account Holder Name </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>Mark</td>
          </tr>
         
         
        </tbody>
      </table>
    </div>
    <div class="card-header ">
      <b>Claim details Details</b>
      </div>
      <div class="card-body">
        <h5 class="card-title">All claims should be registered on the portal within 90 days from days of expense </h5>
        
          <div class="form-row">
            <div class="col-6">
              <label for="nature">Nature of illness/accident/disease</label>
              <select class="form-control" id="nature" >
                <option selected>-Select-</option>
            </select>
            </div><div class="col-6">
              <label for="description">Description of illness/accident/disease</label>
        <input type="text" class="form-control" id="description" placeholder="Example input">
            </div>
          </div>
          <div class="form-row">
            <div class="col-6">
              <label for="startDate">Treatment Start Date</label>
        <input type="date" class="form-control" id="startDate" placeholder="Example input">
            </div><div class="col-6">
              <label for="endDate">Treatment End Date</label>
        <input type="date" class="form-control" id="endDate" placeholder="Example input">
            </div>
          </div>
          <div class="form-row">
            <div class="col-6">
              <label for="clinicName">Click Name</label>
        <input type="text" class="form-control" id="clinicName" placeholder="Example input">
            </div><div class="col-6">
              <label for="clinicPinCode">Clinic pin Code</label>
        <input type="text" class="form-control" id="clinicPinCode" placeholder="Example input">
            </div>
          </div>
          <div class="form-row">
            <div class="col-6">
              <label for="doctorNo">Doctor Registration No.</label>
        <input type="text" class="form-control" id="doctorNo" placeholder="Example input">
            </div><div class="col-6">
              <label for="doctorName">Name of treating Doctor</label>
        <input type="text" class="form-control" id="doctorName" placeholder="Example input">
            </div>
          </div>
        
      </div>
      <div class="card-footer">
        
        <button  type="submit" class="btn btn-success font-weight-bold" >Submit&nbsp;&nbsp;<i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </div>
  </form>
</div>