<div class="jumbotron mt-5">
  <h1 class="display-4">Welcome to Insurance App!</h1>
  <p class="lead">We believe that every family should be financially prepared for medical emergencies</p>
  <hr class="my-4">
  <p>Getting yourself and your family insured for medical emergencies is the first step toward building your financial future. That's why we are offering here health insurance plans to you. you can avail our services in both cashless or by cash.</p>
  <h3>Protect your family here</h3>
  <a class="btn btn-primary btn-lg" routerLink="/register" href="#" role="button">Register Here</a>
</div>