<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let policy of policies">
    <div class="card text-left">
      <div class="card-body">
        <h5 class="card-title">{{policy.policyName}}</h5>
        <p class="card-text">{{policy.description}}</p>
      </div>
      <div class="card-footer text-muted">
        <div class="row">
          <div class="col-6">{{policy.amount | currency: 'INR'}}</div>
          <div class="col-6 text-right"><a href="javascript:void(0)">Buy Policy</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
