
.card-title{
   
    color: #075ba0;
    
}

.card{
    background-color: ghostwhite
}
.form-control{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #075ba0;
    border-radius: 4px;
  }
  .card-header{
    background: rgba(0, 0, 0, 0.644);
	color: #fff; 
  }
  .icon-danger {
	color: red;
}
  