<div class="row mt-5" *ngIf='specialEvents'>
  <div class="col-md-4 mb-3" *ngFor="let event of specialEvents">
    <div class="card text-left">
      <div class="card-body">
        <h5 class="card-title">{{event.policyName}}</h5>
        <p class="card-text">{{event.description}}</p>

      </div>
      <div class="card-footer text-muted">
        <div class="row">
          <div class="col-6">{{event.amount | currency: 'INR'}}</div>
          <div class="col-6 text-right"><a href="javascript:void(0)" (click)='buyPolicy(event)'>Buy Policy</a></div>
        </div>

      </div>

    </div>
  </div>
</div>