
<div class="row mt-5"><h5 mt-5>Note: Once the claim is settled, amount will be credited to Employee’s Salary Account within 5 to 6 working days from date of Settlement.</h5></div>
<div class="card mt-5">
  <div class="card-body">
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Claim Type</th>
          <th scope="col">Tracking Number</th>
          <th scope="col">Claim Number</th>
          <th scope="col">Claim registered On</th>
          <th scope="col">Patient Name</th>
          <th scope="col">Relation Type</th>
          <th scope="col">Policy Status</th>
          <th scope="col">Claimed amount</th>
          <th scope="col">Approved Amount</th>



        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        </tbody>
        </table>
  </div>
</div>