<div class="row mt-5">
  <div class="col-5">
    <div class="card">
      <div class="card-header">
        User Details
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="row">Username:</th>
              <td> {{loginUserData.name}} </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Email:</th>
              <td>{{loginUserData.email}}</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">DOB:</th>
              <td>{{loginUserData.DateOfBirth | date : 'shortDate'}}</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">Mobile Number:</th>
              <td>{{loginUserData.contactNumber}}</td>
            </tr>
          </tbody>
          
        </table>
      </div>
    </div>
  </div>

  <div class="col-7">
    <div class="card">
      <div class="card-header">
        Purchased Policies
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              
              <th scope="row">Policy Name</th>
              <th scope="row">Policy Description</th>
              <th scope="row">Policy Date</th>
              <th scope="row">Policy Duration </th>
              <th scope="row">Policy Amount</th>

              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of userPolicies" >
              
              <td > {{data.code}}</td>
              <td > {{data.description}}</td>
              <td >{{data.date}} </td>
              <td > {{data.duration}}</td>
              <td >{{data.amount}}</td>
            </tr>
          </tbody>
          
        </table>
      </div>
    </div>
  </div>
</div>
