<div class="row mt-5">
  <div class="col-3">
    <div class="card">
      <div class="card-header">
        User Details
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="row">Username:</th>
              <td> {{loginUserData.name}} </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Email:</th>
              <td>{{loginUserData.email}}</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">DOB:</th>
              <td>{{loginUserData.DateOfBirth}}</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">Mobile Number:</th>
              <td>{{loginUserData.contactNumber}}</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">Address:</th>
              <td>-</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">Nuber of purchased policy:</th>
              <td>-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-8">
    <div class="card">
      <div class="card-header">
        Purchased Policies
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="row">Member Name:</th>
              <td>Ayushi</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Member DOB:</th>
              <td>Mark</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">Member Age:</th>
              <td>Mark</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">Policy type:</th>
              <td>Mark</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">Insurance Value:</th>
              <td>Mark</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">Policy Status:</th>
              <td>Mark</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
